* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: linear-gradient(
    to right,
    rgba(161, 6, 244, 0.5),
    rgba(230, 7, 250, 0.6)
  );
}

.container {
  display: flex;
  justify-content: center;
  padding: 5rem;
  width: 100%;
}

.main-wrapper {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  max-width: 800px;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.3rem;
  width: 100%;
}

.input-field {
  flex: 1;
  background: rgba(245, 245, 245, 0.4);
  height: 3rem;
  border-radius: 3px;
  padding: 1rem;
  font-size: 1rem;
  min-width: 0;
}

.add-btn {
  font-size: 1rem;
  background: #00acf0;
  padding: 0.5rem;
  height: 3rem;
  width: 25%;
  min-width: 0;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.add-btn::before {
  position: absolute;
  content: "Add Task";
  top: -40px;
  left: 50%;
  transform: translateX(-50%) translateY(0) scale(0);
  visibility: hidden;
  opacity: 0;
  background-color: #000;
  color: #fff;
  width: max-content;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 0.8rem;
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease,
    transform 0.3s ease;
  transform-origin: bottom center;
}

.add-btn::after {
  content: "";
  position: absolute;
  top: -13%;
  left: 50%;
  border: solid transparent;
  border-width: 7px;
  border-top-color: #000;
  transform: translateX(-50%) translateY(0) scale(0);
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  transform-origin: bottom center;
}

.add-btn:hover::before,
.add-btn:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0) scale(1);
}

ul.task-list {
  width: 100%;
}

li.task {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(245, 245, 245, 0.4);
  border-radius: 3px;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  word-break: break-word;
}

li.task span {
  flex: 1;
}

li.task input[type="checkbox"] {
  height: 1.3rem;
  width: 1.3rem;
  background-color: transparent;
  accent-color: #00acf0;
  margin-right: 0.5rem;
  cursor: pointer;
  position: relative;
}

li.task input[type="checkbox"]::before {
  position: absolute;
  content: "Task: ✓/✗";
  top: -40px;
  left: 50%;
  transform: translateX(-50%) translateY(0) scale(0);
  visibility: hidden;
  opacity: 0;
  background-color: #000;
  color: #fff;
  width: max-content;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 0.8rem;
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease,
    transform 0.3s ease;
  transform-origin: bottom center;
}

li.task input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: -27%;
  left: 50%;
  border: solid transparent;
  border-width: 7px;
  border-top-color: #000;
  transform: translateX(-50%) translateY(0) scale(0);
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  transform-origin: bottom center;
}

li.task input[type="checkbox"]:hover::before,
li.task input[type="checkbox"]:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0) scale(1);
}

li span {
  font-weight: 500;
}

.right-style {
  display: flex;
  align-items: center;
}

.task-done {
  margin-right: 0.5rem;
  border: 0.1px solid transparent;
  background: green;
  color: #f2f2f2;
  padding: 0.4rem;
  font-size: 0.8rem;
  font-weight: 400;
  user-select: none;
  border-radius: 3px;
  display: none;
  position: relative;
}

.task-done::before {
  position: absolute;
  content: "Task Completed";
  top: -40px;
  left: 50%;
  transform: translateX(-50%) translateY(0) scale(0);
  visibility: hidden;
  opacity: 0;
  background-color: #000;
  color: #fff;
  width: max-content;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 0.8rem;
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease,
    transform 0.3s ease;
  transform-origin: bottom center;
}

.task-done::after {
  content: "";
  position: absolute;
  top: -17%;
  left: 50%;
  border: solid transparent;
  border-width: 7px;
  border-top-color: #000;
  transform: translateX(-50%) translateY(0) scale(0);
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  transform-origin: bottom center;
}

.task-done:hover::before,
.task-done:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0) scale(1);
}

.delete-btn {
  background: #ff2d00;
  color: white;
  font-weight: 400;
  cursor: pointer;
  display: grid;
  place-content: center;
  padding: 0.3rem;
  border-radius: 3px;
  position: relative;
}

.delete-btn::before {
  content: "Delete";
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%) translateY(0) scale(0);
  background-color: #000;
  color: #fff;
  width: max-content;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 0.8rem;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease,
    transform 0.3s ease;
  transform-origin: bottom center;
}

.delete-btn::after {
  content: "";
  position: absolute;
  top: -17%;
  left: 50%;
  border: solid transparent;
  border-width: 7px;
  border-top-color: #000;
  transform: translateX(-50%) translateY(0) scale(0);
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  transform-origin: bottom center;
}

.delete-btn:hover::before,
.delete-btn:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0) scale(1);
}

@media (max-width: 600px) {
  .container {
    padding: 1.3rem;
  }

  .main-wrapper {
    padding: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .input-field {
    height: 2.5rem;
    font-size: 1rem;
  }

  .li.task {
    font-size: 1rem;
  }

  .add-btn {
    height: 2.5rem;
    font-size: 0.8rem;
  }

  li.task input[type="checkbox"] {
    height: 1.2rem;
    width: 1.2rem;
  }

  .delete-btn {
    padding: 0.25rem;
  }

  .task-done {
    font-size: 0.7rem;
    padding: 0.4rem;
  }
}
